<% obj.each do |article| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title" style="font-weight: bold;font-size: 1.5em;">
          <%= link_to article.title, article_path(article) %>          
        </div>
        <div class="article-body" style="border-top: 1px solid #eaeaea;padding-top: 15px;padding-bottom: 15px;">
          <%= truncate(sanitize(article.description), length: 300) %>
          <div class="article-meta-details" style="border-top: 1px solid #eaeaea;margin-top: 15px;">
            <small>Created by: <%= article.user.username if article.user %>, </small>
            <%= time_ago_in_words(article.created_at) %> ago, 
            last updated: <%= time_ago_in_words(article.updated_at) %> ago
          </div>
        </div>
        <% if article.categories.any? %>
          <p>Categories: <%= render article.categories %></p>
        <% end %>
        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
          <div class="article-actions">
            <%= link_to 'Edit this article', edit_article_path(article), class: "btn btn-xs btn-primary" %>
            <%= link_to 'Delete this article', article_path(article), method: :delete, data: { confirm: "Are you sure want to delete this article?" }, class: "btn btn-xs btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>